/* Inspired by https://dribbble.com/shots/1426764-Submit-Button?list=searches&tag=button&offset=43*/ 
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background-color: #FFF;
    background-image: url("../img/bgimage.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.submit p{
	margin-left: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.submit {
    /* placing */
    margin-top: 150px;
	text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 150px;
    background-color: #FFF;
    border: 2px solid #1ECD97;
    border-radius: 50px;
    color: #1ECD97;
    font-size: 16px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #1ECD97;
    color: #FFF;
    transition: 0.4s;
}

.success {
    /* placing */
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 150px;
    background-color: #1ECD97;
    color: #FFF;
    border: 2px solid #1ECD97;
    border-radius: 50px;
    font-size: 16px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.loader {
    /* placing */
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #eee;
    border-top: 4px solid #1ecd97;
    color: #FFF; /* Yes it's useless */
    outline-style: none;
    transform: rotate(360deg);
    transition: 0.6s;
}

i {
    font-size: 25px;
}

body img {
    width: 100%;
    height: auto;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    border: 1px solid blue;
}
.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
